.Row {
    height: 100vh;
  }
  .Input {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    color: #7177a1;
    text-align: center;
    margin: 1rem;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Container {
    background-color: grey;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }